/*GENERAL CSS**/
.custom-button-blue,.custom-button-orange {
    background-color: #1567B4;
    color: #fff;
    font-weight: bold;
}
.custom-button-blue:hover {
    background-color: #013464;
    color: #fff;
}
.custom-button-orange{
    background-color: #1567B4;
}
body {
    background-color: #F4F4F4;
}
a:hover {
    text-decoration: none;
}
/*---------------------HEADER----------------------*/
#header {
    height: 100px;
    margin-bottom: 30px;
    background-color: #fff;
}
#header h1 {
    margin-top: 40px; 
}
#header .navbar-brand img {
    width: 110px;
}
#header .container-search {
    margin-top: 40px;    
    text-align: center
}
#header .container-search input.search{
    -ms-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 550px;
    padding: 5px;
    font-size: 18px;
    border-right: none;
}
#header .container-search input.search:hover {
    border-color: #919191;
}
#header .container-search input.search:focus {
    border-color: #03afee;

}
#header .container-search input.button-search {
    margin-left: -7px;
    margin-top: -6px;
    height: 38px;
    background-color: #1567B4;
    color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: bold;
}

#header .container-search input.button-search:hover {
    background-color: #013464;
}
#header .user-registred {
    margin-top: 55px;
}
#header .user-registred .dropdown a.user-name {
    color: #2B547C;
    text-decoration: none;
    outline: none;
}
#header .user-no-logged {
    margin-top: 56px;
    display: block;
}
/*---------------------------HOME PAGE------------------------*/
/*LEFT COLUMN*/
.menu-left {
    background-color: #013668;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 0;

}
.menu-left a {
    color: #ffffff;
    display: block;
    padding: 5px;
}
.menu-left .accordion-heading {
    border-bottom: 1px solid #fff;
}
.menu-left .accordion-body {
    background-color: #fff;
}
.menu-left .accordion-body a {
    color: #000;
    margin-left: 20px;
}
/*PRODUCTS CONTAINER RIGHT COLUMN*/
.container-products .container-product-group .little-info-product .product,
.container-products .container-product-group .big-info-product,
.container-login
 {
    background-color: #fff;
    box-shadow: 0 2px 2px 1px #ccc;
    -weblit-box-shadow: 0 2px 2px 1px #ccc;
    -moz-box-shadow: 0 2px 2px 1px #ccc;
    padding: 10px;
}

.container-products .container-product-group .big-info-product {
    height: 270px;
}
.container-products .container-product-group .big-info-product .btn{
    display: block;
    float: right;
}

.container-products .container-product-group .big-info-product .image-product img{
    width: 300px;
    height: 250px;

}
.container-products .container-product-group .little-info-product .btn {
    float: right;
    margin-top: -20px;
}
.container-products .container-product-group .little-info-product .product {
    margin-bottom: 10px;
    height: 130px;
}
.container-products .container-product-group .big-info-product .btn,
.container-products .container-product-group .little-info-product .btn 
{
    /*display:none*/
    
}
.container-products .container-product-group .little-info-product .image-product img {
    width: 150px;
    height: 100px;
}
/*CAROUSER*/
.carousel {
    height: 300px;
    margin-left: 20px;
    background-color: #fff;
}
.carousel .carousel-control {
    background-image: none;
    box-shadow: 0 2px 2px 1px #ccc;
    -weblit-box-shadow: 0 2px 2px 1px #ccc;
    -moz-box-shadow: 0 2px 2px 1px #ccc;
    color: #013668;
}
.carousel-indicators li {
    border: 1px solid #013668;
    background-color: rgba(0, 43, 83, 0.6);
}
.carousel-indicators .active {
    background-color: #013668;
}

/*MODEL IMAGE PRODUCT*/
.modal-content {
    min-height: 600px;
}
.modal-content .image-model {
    float: left;
    width: 550px;
}
.modal-content .image-model .principal-image {
    float: left;
}
.modal-content .image-model .principal-image img{
    width: 550px;
    float: left;
}
.modal-content .image-model .gallery-image {
    float: left;
    margin-top: 20px;
    width: 300px;
    height: 50px;
    border: 1px solid #cccccc;
    overflow: auto;
}
.modal-content .image-model .gallery-image img {
    float: left;
    margin-left: 20px;
    width: 48px;
    margin-bottom: 10px;
    cursor: pointer;
}
.modal-content .detail-product {
    float: left;
    border-left: 1px solid #ccc;
    margin-left: 40px;
    padding: 5px;
    padding-left: 20px;
    width: 300px;
    min-height: 510px;
    
}
.modal-content .detail-product .btn {
    display: block;
    width: 100%;
    margin-top: 40px;
}
/*----------------LOGIN PAGE-------------------*/
.container-login {
    background-color: #fff;
    margin-top: 30px;
}
.container-login h1{
    text-align: center
}
.login-page #footer {
    bottom: 0;
    margin-top: 0;
}

/*-----------------------FOOTER--------------*/
#footer {
    color: #fff;
    width: 100%;
    height: 50px;
    background-color: #013668;
    position: absolute;
    margin-top: 40px;
}
#footer .container {
    padding: 10px;
}

#footer .container .social {
    margin-top: -15px;    
}
#footer .container .social a {
    margin-right: 10px;
    float: right;

}
#footer .container .social a img {
    width: 20px;
    height: 20px;

}