@{
    ViewBag.Title = "Login | WhatYouNeeds";    
    Layout = "~/Views/Share/_Login.cshtml";
    
}
<div class="container">
    <div class="row">
        <div class="col-xs-5 col-xs-offset-3 container-login">
            <h1>Iniciar Seccion</h1>
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail3" class="col-xs-4 control-label">Email o Usuario ID</label>
                <div class="col-xs-6">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Email o Usuario ID">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-xs-4 control-label">Password</label>
                <div class="col-xs-6">
                  <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-3 col-xs-2">
                      <button type="submit" class="btn custom-button-blue">Entrar</button>
                  </div>
                  <div class="col-xs-5">
                      <button type="submit" class="btn btn-default">Registrarse</button>
                  </div>
              </div>
            </form>
        </div>
    </div>
</div>

